@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

.container {
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Add this for positioning the button */
}

.container .text {
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container form {
  padding: 30px 0 0 0;
}

.container form .form-row {
  display: flex;
  margin: 32px 0;
}

form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

.input-data input,
.input-data textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}

.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
  transform: scale(1);
}

.submit-btn .input-data {
  overflow: hidden;
  height: 45px !important;
  width: 25% !important;
  position: absolute;
  top: 0;
  right: 0;
}

.submit-btn .input-data .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  right: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}

.submit-btn .input-data:hover .inner {
  right: 0;
}

.submit-btn .input-data input {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

@media (max-width: 700px) {
  .container .text {
    font-size: 30px;
  }
  .container form {
    padding: 10px 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
}

.modal {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 90%;
  min-height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("srs/mod.png");
  background-size: 100% 100%;
  border-radius: 2%;

}

.close {
  position: absolute;
  left: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.modal {
  z-index: 2;
}

.hidden {
  display: none;
}

.text{
  margin-bottom: 40px;
}
.container {
   position: relative;
}

.savesend {
   position: absolute;
   top: 50%;
   display: flex;
   justify-items: center;
}
.Download.email {
   left: 0;
   margin-bottom: 10px;
   margin-left: 20px;
}

.Download.download {
   right: 0;
   margin-bottom: 10px;
   margin-left: 20px;
}
.Download{
       width: 125px;
       height: 45px;
       border-radius: 20px;
       border: none;
       box-shadow: 1px 1px rgba(107, 221, 215, 0.37);
       padding: 5px 10px;
       background: rgb(47,93,197);
       background: linear-gradient(160deg, rgba(47,93,197,1) 0%, rgba(46,86,194,1) 5%, rgba(47,93,197,1) 11%, rgba(59,190,230,1) 57%, rgba(0,212,255,1) 71%);
       color: #fff;
       font-family: Roboto, sans-serif;
       font-weight: 505;
       font-size: 15px;
       cursor: pointer;
       filter: drop-shadow(0 0 10px rgba(59, 190, 230, 0.568));
       transition: .5s linear;
   }
   .Download .mysvg {
       display: none;
   }
   
   .Download:hover {
       width: 50px;
       height: 50px;
       border-radius: 50%;
       transition: .5s linear;
   }
   .Download.download{
       display: inline !important;
   }
   .Download.email:hover .texto,
   .Download.download:hover .texto {
       display: none !important;
   }
   
   .Download:hover .mysvg {
       display: inline;
   }
   
   .Download:hover::before{
       content: '';
       position: absolute;
       top: -3px;
       left: -3px;
       width: 100%;
       height: 100%;
       border: 3.5px solid transparent;
       border-top: 3.5px solid #fff;
       border-right: 3.5px solid #fff;
       border-radius: 50%;
       animation: animateC 2s linear infinite;
   }
   
   @keyframes animateC {
       0% {
       transform: rotate(0deg);
       }
   
       100% {
       transform: rotate(360deg);
       }
   }
   